body{ 
	margin:0;
	background:url("./images/BGpic.jpg") no-repeat fixed;
	background-size: cover;
}
header{
	height:130px;
	width:100%;
	background: rgba(12, 24, 33, 0.78) url("./images/gameLogo.png") center no-repeat;
	background-size: 230px auto; 	
}
.allStreams {
	margin:50px auto;
	padding: 0px 50px;
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.singleStream {
	max-width:320px;
	min-width:320px;
	height:230px;
	margin:20px 10px;
	border-radius: 10px;
	overflow: hidden;
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;	
	display: flex;
	box-shadow: inset -6px 6px 20px 0px #ffffff4f, -4px 6px 20px 0px #0000008f;
	transition: box-shadow 0.3s;
}
a{
	text-decoration:none;
	display: flex;
	flex-direction:column;
	justify-content: flex-end;
}
.about {
	min-width:320px;
	height:65px;
	box-sizing: border-box;
	background-color: rgba(12, 24, 33, 0.86);
	display: flex;
	flex-direction:row;
}
.logo{
	min-width:45px;
	min-height:45px;
	border-radius: 100px;
	margin: auto 20px;
	overflow: hidden;
}
img{
	display: flex;
	height: 45px;
}
.info{
	color:white;
	margin: 10px 5px 10px 0px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
}
.name, .status {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:220px;
	line-height: 28px;
}
.singleStream:hover{
	box-shadow: inset -3px 3px 20px 0px #ffffff4f, -8px 8px 20px 0px #0000009e;
	top:-5px;
	position: relative;
}
